* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Item */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  width: 164px;
  height: 44px;
  background-color: rgba(70, 145, 101, 1);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover, .btn1:hover {
  background-color: rgb(47, 101, 69);
  transform: scale(95%);
}

/* Main Property */
nav {
  width: 100vw;
  max-width: 1600px;
  min-height: 11vh;
  max-height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 130px;
}
.logo {
  width: 139px;
  height: 60px;
  background-image: url('/assets/logo-footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul {
  width: 365px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
}

header {
  width: 100vw;
  max-width: 1600px;
  min-height: 75vh;
  max-height: 674px;
  border: 1px solid red;
  background-image: url('/assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.container {
  width: 85vw;
  max-width: 1360px;
  min-height: 43vh;
  max-height: 379px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 16px;
  margin-top: 154px;
}
.container .content1{
  width: 229px;
  height: 35px;
  background: #fff;
  border-radius: 40px;
  margin: 0 auto;
}
.content1 p {
  color: #30B868;
}
.content2 h1 {
  color: #fff;
  margin-bottom: 1rem;
}
.content2 h1 span{
  color: #30B868;
}
.content2 p {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.content3 {
  width: 465px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.content3 .btn1 {
  width: 251px;
  height: 52px;
  background-color: rgba(70, 145, 101, 1);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.content3 .btn2 {
  width: 198px;
  height: 52px;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.content3 .btn2:hover {
  background-color: white;
  color: #011931;
  scale: (95%);
}

.container1 {
  width: 85vw;
  max-width: 1360px;
  min-height: 17vh;
  max-height: 152px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
}
.container1 p{
  color: #627382;
}

#c1 {
  margin-top: 44px;
}
.container2{
  width: 85vw;
  max-width: 1360px;
  min-height: 33vh;
  max-height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container2 .box {
  height: 300px;
  width: 322px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box .img {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box p {
  color: #627382;
}
.img img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.container3 {
  width: 85vw;
  max-width: 1360px;
  max-height: 600px;
  min-height: 67vh;
  display: flex;
  margin: 0 auto;
}
.con3, .con4 {
  flex: 1;
}
.con3{
  background-image: url("/assets/knowledge.png");
}
.con4 {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 40px;
  margin: 102px 0;
  margin-left: 40px;
}
.con4 div h5 {
  font-size: 16px;
  font-weight: 600;
}
.con4 div p {
  color: #627382;
  line-height: 20px;
}
#c3 {
  color: #30B868;
}

.bonus {
  width: 85vw;
  max-width: 1360px;
  min-height: 43vh;
  max-height: 384px;
  text-align: center;
  background-color: rgba(247, 246, 242, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}
.bonus .div1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.div1 p {
  color: #627382;
}
.bonus .div2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.div2 div button {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.div2 p {
  color: #627382;
}
#s2 {
  margin-top: 120px;
}
footer {
  width: 100%;
  max-height: 348px;
  min-height: 39vh;
  background-color: #011931;
  color: #fff;
  padding-top: 120px;
}
footer .f1, footer .f2 {
  width: 85vw;
  max-width: 1360px;
  min-height: 8vh;
  max-height: 64px;
  margin: 0 auto;
}
.f1 {
  display: flex;
  justify-content: space-between;
}
.f1 img {
  width: 139px;
  height: 60px;
  object-fit: cover;
}
.f2 {
  border-top: 1px solid #627382;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
#s4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#s5 {
  margin-top: 120px;
}


